* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(93, 91, 91);
}
.header {
  padding: 15px;
  background-color: rgb(19, 110, 42);
}
.header .logo {
  color: white;
}
