* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(93, 91, 91);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(19, 110, 42);
}
.header .logo {
  line-height: 45px;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  list-style: none;
}
li {
  padding: 5px;
  margin: 5px;
  background-color: #ddd;
  cursor: pointer;
}
