* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(93, 91, 91);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(19, 110, 42);
}
.header .logo {
  line-height: 45px;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  list-style: none;
}
li {
  padding: 5px;
  margin: 5px;
  background-color: #ddd;
  cursor: pointer;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.item {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  text-align: left;
  border: 1px solid black;
}
.item h2 {
  margin-bottom: 5px;
  text-align: center;
}

.buttons {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.buttons button {
  margin: 0 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}
.panel {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 5px;
}

/***ADD PANEL***/

.add-panel {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid black;
}
.reset {
  display: block;
}
