* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-family: "Squada One", cursive; */
  font-family: "Dancing Script", cursive;
  font-size: 62.5%;
}
body {
  background-color: #5cdb95;
  font-size: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #05386b;
}
.header .logo {
  line-height: 45px;
  color: #edf5e1;
}

ul {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  list-style: none;
}
li {
  padding: 5px;
  margin: 5px;
  background-color: #edf5e1;
  color: #05386b;
  cursor: pointer;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 80px auto;
}
.item {
  flex-basis: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: #05386b;
  text-align: left;
  color: #edf5e1;
}
.item h2 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 3.2rem;
}

.buttons {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.buttons button {
  margin: 0 5px;
  padding: 10px;
  background-color: #edf5e1;
  border: 1px solid black;
  cursor: pointer;
  color: #05386b;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}
.panel {
  display: flex;
  justify-content: space-between;
  background-color: #379683;
  padding: 5px;
}
.panel button {
  margin: 5px;
  padding: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  background-color: #8ee4af;
  border: none;
  cursor: pointer;
}
.panel p {
  color: #edf5e1;
  line-height: 50px;
}

/***ADD PANEL***/

.add-panel {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid black;
}
.reset {
  display: block;
}

.add-panel-X {
  width: 20px;
  padding: 5px;
  text-align: right;
  cursor: pointer;
}
.inpdescribe {
  resize: none;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.add-buttons {
  display: flex;
  justify-content: center;
}
.add-buttons button {
  margin: 5px;
  font-family: "Dancing Script", cursive;
}

.show-elements {
  display: none;
}
.error {
  color: red;
  text-align: center;
}

/* EDIT PANEL */

.edit-panel {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid black;
}

.edit-panel-X {
  width: 20px;
  padding: 5px;
  text-align: right;
  cursor: pointer;
}
.e-inpdescribe {
  resize: none;
}

.edit-buttons {
  display: flex;
  justify-content: center;
}
.edit-buttons button {
  margin: 5px;
}
.reset {
  display: block;
}
